<tui-island class="tui-island__paragraph" style="margin-top: 5px;">
    <h2 class="tui-island__title">File Finder</h2>
    <form class="input-wrapper" [formGroup]="search_form">
        <div tuiGroup class="group">
            <div>
                <tui-input formControlName="file_name" class="tui-group__inherit-item" tuiTextfieldSize="s">
                    File
                </tui-input>
            </div>
            <div>
                <tui-multi-select tuiTextfieldExampleText="Ignored text" formControlName="folder" tuiTextfieldSize="s"
                    class="tui-group__inherit-item" [tuiTextfieldLabelOutside]="true" [editable]="false"
                    [tuiDropdownLimitWidth]="'min'" [tuiDropdownAlign]="'left'"
                    [expandable]="false">
                    Folders
                    <tui-data-list-wrapper *tuiDataList tuiMultiSelectGroup [items]="folders"></tui-data-list-wrapper>
                </tui-multi-select>
            </div>
            <div>
                <tui-input formControlName="tag" class="tui-group__inherit-item" tuiTextfieldSize="s">
                    Tag
                </tui-input>
            </div>
        </div>
    </form>

    <tui-scrollbar class="box">
        <table class="tui-table">
            <tbody>
                <tr class="tui-table__tr">
                    <th class="tui-table__th">FileID</th>
                    <th class="tui-table__th">Path</th>
                </tr>

                <tr *ngFor="let file of files" class="tui-table__tr" (click)="this.fileClicked(file.id)">
                    <td class="tui-table__td_font-size_s">{{file.id}}</td>
                    <td class="tui-table__td_font-size_s">{{file.name}}</td>
                </tr>
            </tbody>
        </table>
    </tui-scrollbar>
</tui-island>